<!DOCTYPE html>
<html lang="fr" class="bg-gray-900 text-gray-200">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BirdWatcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css') }}">
</head>

<body class="p-4 pb-24">

    <main>
        {% block content %}{% endblock %}
    </main>

    <nav
        class="fixed bottom-5 left-5 right-5 bg-gray-800 bg-opacity-90 border border-gray-600 px-10 py-3 flex justify-around items-center z-50 rounded-full">
        <a href="/"
            class="flex flex-col items-center {{ 'text-blue-500' if request.path == '/' else 'text-gray-500' }}">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <span class="text-base mt-1 font-bold">Accueil</span>
        </a>

        <a href="/videos"
            class="flex flex-col items-center {{ 'text-blue-500' if request.path == '/videos' else 'text-gray-500' }}">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
            <span class="text-base mt-1 font-bold">Vidéos</span>
        </a>

        <a href="/settings"
            class="flex flex-col items-center {{ 'text-blue-500' if request.path == '/settings' else 'text-gray-500' }}">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
            </svg>
            <span class="text-base mt-1 font-bold">Réglages</span>
        </a>
    </nav>

</body>

</html>